{{ define "content" }}
<section class="hero">
    <span class="eyebrow">Privacy</span>
    <h1>Privacy Notice</h1>
    <p class="subtitle">
       We take privacy seriously here, as we understand that the best way to get unfiltered feedback is to ensure that it is anonymous as possible.
    </p>
</section>

<section class="panel">
    <span class="eyebrow">Information</span>
    <h2>Our approach</h2>
    <p>
        Blindspot may collect account details, profile information, submitted questions, and anonymous
        responses in order to operate the service. </p><br><p>

        But for registered users, we ask only for a validated email address. We ask for no other personal information, since it isn't necessary.
</p><br><p>
        For non-registered users, we don't even ask for an email address. We record the answer and the time only. And while the IP address of the request is an available data point, we don't record it. (And if you're that privacy sensitive, we always recommend a VPN!)
</p><br><p>
		That's it. You can delete your account at any time.

    </p>
</section>

<section class="panel panel-spaced">
    <span class="eyebrow">Legal Info</span>
    <h2>Legal Info</h2>
    <p>
        <a href="/privacy/legal"> Click here for the formal terms and conditions of privacy. </a>
    </p>
</section>
{{ end }}
